<div class='admin_content'>
Are you sure you want to delete the '<%= h @flickr.name %>' Flickr Gallery Set?
<form action='' method='post'>
  <input type='hidden' name='delete' value='1'/>
  <input type='submit' value='Delete' />
</form>
</div>
